{% extends "layout.twig" %}
{% block content %}

<section class="page home">

		{% include 'includes/header.twig' %}

		<div class="nav">
			{{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
		</div>

		{{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"profile","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true, 'align':'justifycenter'})|raw}}

		<div class="wrapper">
			{{zone('main')|raw}}
		</div>

	{% include 'includes/footer.twig' %}

</section>


{% endblock %}