<!-- Footer Include !-->
<footer class="template-footer">

	<div class="wrapper clearfix">
	{{widget('content', 'footer-title', {"content":'<h1>SEE YOU THERE</h1>'})|raw}}
	{{widget('map', 'footer-map', {'height': '150', 'zoom': '15', 'address': 'profile'})|raw}}
	{{widget('content', 'footer-directions', {"content":'<p>DIRECTIONS: <br>Nisi augue mauris tortor cum facilisis dolor lacus, augue natoque mid sit enim ultrices risus nascetur! Parturient porttitor. Magnis egestas a vut tristique sed odio hac amet nec, pulvinar magna magnis, amet pulvinar porttitor urna ac adipiscing phasellus aliquam dis, adipiscing ac cum dictumst aenean etiam nunc augue tortor placerat? </p>'})|raw}}
	</div>

</footer>



