<!-- Header Include !-->
<header class="template-header">

	<div class="wrapper">

		<div class="company-info">
			{{widget('logo', 'companylogo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</div>

	</div>

</header>
